<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="customerMenu">

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">


            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="list">List customers </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/addCustomer">Add a new customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/deleteCustomer">Delete customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/changeCustomerAddress">Change customer's address</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Back</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="/customer/search" method="get">
                    <input name="name" class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Customers</button>
                </form>
            </div>
        </nav>
    </div>
</div>
</html>