<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="menu">
    <nav class="navbar navbar-dark bg-dark justify-content-center">
        <ul class="nav justify-content-center">
            <a class="btn btn-primary" href="/" role="button">Home</a>
            <a class="btn btn-primary" href="/movie/home" role="button">Movie Menu</a>
            <a class="btn btn-primary" href="/customer/home" role="button">Customer Menu</a>
            <a class="btn btn-primary" href="/rentMenu" role="button">Rents</a>

        </ul>
    </nav>
</div>

</html>