<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="rentMenu">

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Rents</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/rents/listRents">List Rents </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/rents/newRent">New Rent</a>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0" action="/rents/searchByMovie" method="get">
                    <input name="id" class="form-control mr-sm-2" type="search" placeholder="Search by Movie">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search By Movie</button>
                </form>
                <form class="form-inline my-2 my-lg-0" action="/rents/search" method="get">
                    <input name="id" class="form-control mr-sm-2" type="search" placeholder="Search by Customer">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search By Customer</button>
                </form>
            </div>
        </nav>
    </div>
</div>
</html>