<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete Movie</title>
        
    <div th:insert="fragments/head.html :: head"></div>

</head>
<body>
  
<div th:insert="fragments/mainMenu.html :: menu"></div>
<div th:insert="fragments/movieMenu.html :: movieMenu"></div>
<div th:insert="fragments/movieListFragment.html :: movieListFragment"></div>


<div class="container">
    <form th:action="@{/movie/deleteMovie}" th:object="${movie}" method="post">
        <div class="form-group">
            <label>Movie ID:</label>
            <input type="number"  th:field="*{id}" class="form-control" placeholder="Enter the ID of the movie to delete">
        </div>

        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>

    </form>
</div>
</body>
</html>