<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete Customer</title>
        
    <div th:insert="fragments/head.html :: head"></div>

</head>
<body>
  
<div th:insert="fragments/mainMenu.html :: menu"></div>
<div th:insert="fragments/customerMenu.html :: customerMenu"></div>
<div th:insert="fragments/customerListFragment.html :: customerListFragment"></div>



<div class="container">
    <form th:action="@{/customer/deleteCustomer}" th:object="${customer}" method="post">
        <div class="form-group">
            <label>Customer ID:</label>
            <input type="number"  th:field="*{id}" class="form-control" placeholder="Enter the ID of the customer to delete">
        </div>

        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>

    </form>
</div>
</body>
</html>