<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movies</title>
        
    <div th:insert="fragments/head.html :: head"></div>

</head>
<body>

    
<div th:insert="fragments/mainMenu.html :: menu"></div>
<div th:insert="fragments/movieMenu.html :: movieMenu"></div>


<!--<ul class="nav justify-content-center">-->

<!--<nav class="navbar navbar-light bg-light">-->
<!--<form class="form-inline">-->
<!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search movie</button>-->
<!--</form>-->
<!--</nav>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link active" href="list">List Movies</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" href="#">Add a movie</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" href="#">Delete movie</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" href="#">Change movie price</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" href="/">Back</a>-->
<!--</li>-->
<!--</ul>-->

</body>
</html>